.nombre{
  bottom: 50px;
  position: absolute;
  right: 20px;
  color: white;
}
.imagenUnd{
  position: relative;
  width: 200px;
  height: 240px;
  display: inline-block;
}
img{
  width: 200px;
  height: 200px;
  position: absolute;
  opacity: 0.8;
}
